/* style.css */

:root {
    --color-background: #f1f1f1;
    --color-base: #1C1C1C;
    /* --clr-primary: #aa00ff; */
    /* --clr-gray: #263238; */
    /* --font-size: 16px; */
    /* --border-radius: 0.2em; */
}

body {
    background-color: var(--color-background);
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    color: var(--color-base);
    width: 100vw;
    height: 100vh;
}

span strong {
    font-weight: 700;
}

.bg-ws {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
}

.card {
    border-radius: 5px;
}

ul {
    margin-block-start: 0;
}

div.contact-content ul li{
    margin-block-start: 0;
    display: inline-block;
    margin: 0 1em;
}

i.fas, i.fab, i.far {
    font-size: 2em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* ark mode colors class */
.dark-mode {
  --clr-background: #263238;
  --clr-base: black;
  /* --clr-primary: #69f0ae; */
  /* --clr-gray: #e0f7fa; */
}

@media only screen and (max-width:320px) and (orientation: portrait) {
    span small {
        font-size: .5em;
    }
}