/* style.css */

:root {
    --color-background: #f1f1f1;
    --color-base: #2C2C2C;
    --color-background-card: #fff;
    --color-shadow-state-1: rgba(0,0,0,.14);
    --color-shadow-state-2: rgba(0,0,0,.12);
    --color-shadow-state-3: rgba(0,0,0,.2);
    --color-links: #039be5 !important;
    /* --border-radius: 0.2em; */
}

body {
    background-color: var(--color-background);
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    color: var(--color-base);
    width: 100vw;
    height: 100vh;
}

a {
    color: var(--color-links) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600 !important;
}

span > strong {
    font-weight: 700 !important;
}

.bg-ws {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
}

.card {
    background-color: var(--color-background-card) !important;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 var(--color-shadow-state-1),0 3px 1px -2px var(--color-shadow-state-2),0 1px 5px 0 var(--color-shadow-state-3);
}

ul {
    margin-block-start: 0;
}

div.contact-content ul li{
    margin-block-start: 0;
    display: inline-block;
    margin: 0 1em;
}

i.fas, i.fab, i.far {
    font-size: 2em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* ark mode colors class */
.dark-mode {
    --color-background: #4f4f4f;
    --color-base: #f1f1f1;
    --color-background-card: #2c2c2c;
    --color-shadow-state-1: rgba(255,255,255,.14);
    --color-shadow-state-2: rgba(255,255,255,.12);
    --color-shadow-state-3: rgba(255,255,255,.2);
    --color-links: #9bf00b;
    /* --color-links: #107c10; */
}

.wrapper-color-switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    padding-top: 1.5em;
}

.color-switch {
    width: 4em;
    height: 2em;
    border-radius: 10em;
    background: var(--color-background);
    border: 2px solid var(--color-links);
    position: absolute;
    cursor: pointer;
}

.color-switch-toggle {
    width: 1.52em;
    height: 1.52em;
    background: var(--color-base);
    position: absolute;
    border-radius: 10em;
    top: 0.045em;
    left: 0.045em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.color-switch::before {
    content: "Light Mode";
    position: absolute;
    display: inline-block;
    width: 12em;
    left: -6em;
}

#input-color-switch:checked ~ label .color-switch-toggle {
    transform: translateX(2em);
}

#input-color-switch:checked ~ .color-switch::before {
    content: "Dark Mode";
}

#input-color-switch {
    display: none;
}

h4.lembrete::after {
    content: '*';
}

span.phone, span.mail, span.in, span.git {
    display: none;
}

@media only screen and (max-width:320px) and (orientation: portrait) {
    span small {
        font-size: .5em;
    }

    h3 {
        margin: 3.1rem 0 1.168rem 0 !important;
    }
}

@media only screen and (max-width:375px) and (orientation: portrait) {
    span small {
        font-size: .65em;
    }

    h3 {
        margin: 3.1rem 0 1.168rem 0 !important;
    }
}

@media only screen and (max-width:414px) and (orientation: portrait) {
    h3 {
        margin: 3.1rem 0 1.168rem 0 !important;
    }
}