/* style.css */

body {
    background-color: #f1f1f1;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 16px;
    color: #1C1C1C;
    width: 100vw;
    height: 100vh;
}

.bg-ws {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    z-index: -9999;
}

.card {
    border-radius: 5px;
}